@import url('https://fonts.googleapis.com/css?family=Montserrat');

#team-detail {
    margin-top: 1em;
    border-radius: 4px;
    background-color: #fff;
    height: 100%;
    padding: 1.5em;
}

.table-card {
    margin-top: 10px;
}

table {
    width: 100%;
}

.table-filters {
    padding: .5em;
    clear: both;
    overflow: auto;
}

.date-filters {
    float: right;
    width: 60%;
}

.search-field {
    width: 30%;
    float: left;
}

tr.mat-row:nth-child(even) {
    height: 48px;
    background-color: #f3f3f3
}

.mat-elevation-z8 {
    box-shadow: none !important;
    overflow: auto;
}

.mat-form-field-wrapper {
    font-size: 14px;
    margin-right: 1.5em !important;
    margin-left: 1.5em !important;
    /* width: 50%; */
}

.uk-card-default {
    overflow: auto !important;
}

