<div id="team-detail">
  <div class="uk-card uk-card-default uk-card-body table-card">
    <p class=""><span uk-icon="icon: users;"></span> Team Details</p>

    <div class="table-filters">

      <mat-form-field class="search-field">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>

    </div>
    

    <div class="mat-elevation-z8">
          
      <table mat-table [dataSource]="dataSource" matSort class="uk-height-1-1">
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"><a  [routerLink]="['/staff', element.position]">{{ element.name }}</a>  </td>
        </ng-container>

        <!-- Staff ID Column -->
        <ng-container matColumnDef="staffid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Staff ID </th>
          <td mat-cell *matCellDef="let element"> {{element.staffId}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <!--  Column -->
        <ng-container matColumnDef="supervisor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Supervisor </th>
          <td mat-cell *matCellDef="let element"> {{element.supervisor}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>
