.uk-navbar {
    background: white !important;
    height: 60px !important;
    cursor: pointer;
    color: #525252;
    /* // margin-top: 15px; */
    padding-right: 1em;
    padding-left: 1em;
    /* // padding-bottom: .5em; */
    border-bottom: 1px solid #dfdfdf;
  }

  #galaxyLogo {
    margin-top: 10px;
    height: 40px;
    width: 120px;
  }

  a {
    color: #525252;
  }

  a:hover {
    text-decoration: none;
  }

  #avatar {
    height:40px;
    width:40px;
    vertical-align: middle;
    border-radius: 50%;
    margin-top: 15px;
  }
  .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .brandName {
    margin-top: 20px;
    font-size: 15pt;
  }

  .allApps{

  }
  #staffName {
    margin-top: 15px;
    margin-right: 5px;
    text-transform: uppercase;
  }

  .staffAcronym {
    font-size: 25pt;
  }
  #name {
    font-weight: bold;
    font-size: 1rem;
  }
  #email {
    font-size: 0.8rem;
  }
  #line {
    padding: 10px;
  }
  #acronym {
    font-size: 30px;
    color: #525252;
  }

  @media only screen and (max-width: 600px) {
    .uk-navbar {
      background: white !important;
      /* // height: 80px !important; */
      cursor: pointer;
      color: #525252;
      /* // margin-top: 15px; */
      padding-right: 1em;
      padding-left: 1em;
      padding-bottom: 0em;
      border-bottom: 1px solid #dfdfdf;
    }

    #galaxyLogo {
      margin-top: 7px;
      height: 40px;
      width: 120px;
      margin-bottom: 7px;
    }

    #avatar {
      height:40px;
      width:40px;
      vertical-align: middle;
      border-radius: 50%;
      margin-top: 0px;
    }
    .avatar {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
    .brandName {
      margin-top: 15px;
      font-size: 15pt;
    }
    #staffName {
      margin-top: 15px;
      margin-right: 5px;
      text-transform: uppercase;
    }

    .allApps {
      display: none;
    }
  
    .staffAcronym {
      display: none;
    }

    .role {
      display: none;
    }

    #name {
      font-weight: bold;
      font-size: 1rem;
    }
    #email {
      font-size: 0.8rem;
    }
    #line {
      padding: 0px;
      padding-left: .5em;
      padding-right: .5em;
    }
    #acronym {
      font-size: 30px;
      color: #525252;
    }

} 
