<nav class="uk-navbar-container uk-sticky" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <a href="https://galaxy">
        <img src="../../../../../../assets/Images/galaxy.svg" id="galaxyLogo" />
      </a>
      <img src="../../../../assets/Images/Line.svg" id="line" />
      <div class="brandName"><a href="#">FASt</a></div>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li class="allApps"><a href="https://galaxy/#/all" routerLinkActive="router-link-active"  style="text-transform: capitalize">All Apps</a></li>      
      <!-- <li *ngIf="isSuperAdmin" class="role"><a style="text-transform:capitalize">Administrator</a></li> -->
      <li id="staffName" class="staffAcronym">{{staffAcronym}}</li>
      <li class="uk-inline">
        <img id ="avatar"class="img-rounded" src={{staffAvatar}} />
      </li>
    </ul>
  </div>
</nav>
