
table {
    width: 100%;
}

.mat-tab-body-wrapper {
    padding-top: 2em;
}

.blue {
    color: #178FD4;;
}

.mat-tab-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-weight: bold !important;
    font-size: medium !important;
    color: black !important;
}

mat-radio-button {
    padding-left: .5em;
    padding-right: .5em;
}

.mat-radio-label-content {
    font-size: .5rem !important;
}

.mat-sort-header-button {
    font-size: medium !important;
    font-weight: bold !important;  
}

.tableFilters {
    padding: 1em;
}

.searchField {
    float: left;
}

.dateFilters {
    float: right;
}

.table-row {
    cursor: pointer;
}

.mat-elevation-z8 {
    box-shadow: none !important;
}

tr.mat-row:nth-child(even) {
    height: 48px;
    background-color: #f3f3f3
}

.uk-open>.uk-modal-dialog {
    opacity: 1;
    transform: translateY(0);
    width: 90%;
}

.startDateField {
    z-index: 40;
}
.statistics {
    padding: 1.5em 1.5em;
}

.small {
    font-size: small;
}

.punctualCard {
    padding: 1.5em;
    border-left: 2px solid rgba(68, 64, 83, 0.25);
}

.allStaff {
    color: #178FD4;;
    font-weight: bold;
}

.statValue {
    color: rgba(41, 42, 65, 0.8);
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20pt;
}
