<div class="statistics">
  <div class="statistics-cards">
    <!-- All staff -->
    <div class="row" *ngIf="showAllClicked">
      <div class="col punctualCard">
        <h6 class="allStaff">Total Staff</h6>
        <p class="statValue">{{noOfStaffInBranch}}</p>
      </div>

      <div class="col punctualCard">
        <h6 class="allStaff">Total Clock-Ins</h6>
        <p class="statValue">{{totalCount}}</p>
      </div>

      <!-- <div class="col punctualCard">
        <h6 class="allStaff">Total Clock-Outs</h6>
        <p class="statValue">{{percentage}}</p>
      </div> -->

      <div class="col punctualCard">
        <h6 class="allStaff">Total No. of Absent</h6>
        <p class="statValue">{{totalNumberOfAbsentStaff}}</p>
      </div>

    </div>

    <!-- All late  -->
    <div class="row" *ngIf="lateClicked">
        <div class="col punctualCard">
          <h6 class="allStaff">Total Staff</h6>
          <p class="statValue">{{noOfStaffInBranch}}</p>
        </div>
  
        <div class="col punctualCard">
          <h6 class="allStaff">No. of Late Staff</h6>
          <p class="statValue">{{totalCount}}</p>
        </div>
  
        <div class="col punctualCard">
          <h6 class="allStaff">Late Staff (%)</h6>
          <p class="statValue">{{percentage}}</p>
        </div>
  
      </div>

       <!-- All Early -->
       <div class="row" *ngIf="earlyClicked">
          <div class="col punctualCard">
            <h6 class="allStaff">Total Staff</h6>
            <p class="statValue">{{noOfStaffInBranch}}</p>
          </div>
    
          <div class="col punctualCard">
            <h6 class="allStaff">No. of Early Staff</h6>
            <p class="statValue">{{totalCount}}</p>
          </div>
    
          <div class="col punctualCard">
            <h6 class="allStaff">Early Staff (%)</h6>
            <p class="statValue">{{percentage}}</p>
          </div>
    
        </div>

        <!-- Clocked in -->
        <div class="row" *ngIf="clockedInClicked">
            <div class="col punctualCard">
              <h6 class="allStaff">Total Staff</h6>
              <p class="statValue">{{noOfStaffInBranch}}</p>
            </div>
      
            <div class="col punctualCard">
              <h6 class="allStaff">No. of clocked-in Staff</h6>
              <p class="statValue">{{totalCount}}</p>
            </div>
      
            <div class="col punctualCard">
              <h6 class="allStaff">Clocked-in Staff (%)</h6>
              <p class="statValue">{{percentage}}</p>
            </div>
      
          </div>

           <!-- Early clocked out -->
        <div class="row" *ngIf="earlyClockOutClicked" >
            <div class="col punctualCard">
              <h6 class="allStaff">Total Staff</h6>
              <p class="statValue">{{noOfStaffInBranch}}</p>
            </div>
      
            <div class="col punctualCard">
              <h6 class="allStaff">No. of Early Clock Out </h6>
              <p class="statValue">{{totalCount}}</p>
            </div>
      
            <div class="col punctualCard">
              <h6 class="allStaff">Early Clock out (%)</h6>
              <p class="statValue">{{percentage}}</p>
            </div>
      
          </div>

            <!--Absent -->
        <div class="row" *ngIf="absentClicked">
            <div class="col punctualCard">
              <h6 class="allStaff">Total Staff</h6>
              <p class="statValue">{{noOfStaffInBranch}}</p>
            </div>
      
            <div class="col punctualCard">
              <h6 class="allStaff">No. of Absent Staff </h6>
              <p class="statValue">{{totalNumberOfAbsentStaff}}</p>
            </div>
      
            <div class="col punctualCard">
              <h6 class="allStaff">Absent Staff (%)</h6>
              <p class="statValue">{{percentage}}</p>
            </div>
      
          </div>
  </div>
</div>
<div id="attendancetable">

  <div *ngIf="!search">
    <p class="blue small"  style="font-weight: bold;">Today, {{currentDay}}</p>
  </div>

  <div *ngIf="search">
    <p class="blue small">Showing results from <b>{{ dateSearch.value.startDate | date: 'fullDate' }}</b> to <b>{{ dateSearch.value.endDate | date: 'fullDate' }}</b> </p> 
  </div>
  <div>
    <button mat-flat-button color="primary" (click)="showAll()" style="margin-top: 10px; outline: none">Show Today</button>
  </div>

  <div class="tableFilters">

    <mat-form-field class="searchField">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search table">
    </mat-form-field>

    <form class="dateFilters" [formGroup]="dateSearch" (ngSubmit)="onSubmit(dateSearch.value)">
      <mat-form-field class="startDateField">
        <input matInput [matDatepicker]="start" placeholder="Start date" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="endDateField">
        <input matInput [matDatepicker]="end" placeholder="End date" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end></mat-datepicker>
      </mat-form-field>

      <mat-radio-group class="filterOptions" formControlName="filterOption">
        <!-- <mat-radio-button value="All">Today</mat-radio-button> -->
        <mat-radio-button value="clockedIn">Clocked In</mat-radio-button>
        <mat-radio-button value="late">Late</mat-radio-button>
        <mat-radio-button value="Early">Early</mat-radio-button>
        <mat-radio-button value="Early Clock-Out">Early Clock-Out</mat-radio-button>
        <mat-radio-button value="Absent">Absent</mat-radio-button>
      </mat-radio-group>
  
      <button mat-flat-button color="primary" type="submit" [disabled]="!dateSearch.valid">Go</button>

    </form>

  </div>

  <div>
      <app-loader [isLoading] = loading ></app-loader>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"> 
    
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> STAFF ID </th>
        <td mat-cell *matCellDef="let element"> {{element.staffId}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th> 
        <td mat-cell *matCellDef="let element"> {{element.staffName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE </th> 
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="clockin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CLOCK IN </th>
        <td mat-cell *matCellDef="let element" [ngStyle] = "{'color' : element.clockIn > '08:00:00' ? 'red' : 'black'}"> {{element.clockIn}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="clockout">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CLOCK OUT </th>
        <td mat-cell *matCellDef="let element"> {{element.clockOut}} </td>
      </ng-container>
     
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigate(row.staffId, row.staffName)"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>
  
</div>
