
.statistics {
    padding: 1.5em 1.5em;
}

.punctualCard {
    padding: 1.5em;
    border-left: 2px solid rgba(68, 64, 83, 0.25);
}

.allStaff {
    color: #178FD4;;
    font-weight: bold;
}

.statValue {
    color: rgba(41, 42, 65, 0.8);
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
