<div class="statistics">
  <div class="statistics-cards">
    <div class="row">
      <div class="col punctualCard">
        <h6 class="allStaff">Total Staff</h6>
        <p class="statValue">150</p>
      </div>

      <div class="col punctualCard">
        <h6 class="allStaff">Total Clock-Ins</h6>
        <p class="statValue">140</p>
      </div>

      <div class="col punctualCard">
        <h6 class="allStaff">Total Clock-Outs</h6>
        <p class="statValue">0</p>
      </div>

      <div class="col punctualCard">
        <h6 class="allStaff">Absent</h6>
        <p class="statValue">2</p>
      </div>

    </div>
  </div>
</div>