<!-- dashboard page  -->

<div id="dashboard">
  <div class="dashboard-content">

    <!-- dashboard header  -->
    <div class="dashboard-header clearfix">
      <div class='dashboard-heading'>
        <h3>Dashboard</h3>
      </div>
    </div>

      <div class='live clearfix' style="height: 70vh;">
        <app-live-map style="max-height: 100%;"></app-live-map>
      </div>

      <div class='team'>
        <app-team-details></app-team-details> 
      </div>

  </div>
</div>