
#dashboard {
    background-color: #EBEDF5;
    height: 100%;
    margin: 0;
    /* padding: 2em; */
}

.column {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.dashboard-content {
    padding: 1.5em;
    height: 100%;
}

.dashboard-header {
    padding: 0px;
    clear: both;
    /* display: inline; */
    height: 2%;
}

.dashboard-heading {
    float: left;
}

.dashboard-search {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.live {
    /* height: 52%; */
    /* max-height: 52%; */
    margin-bottom: .5em;
    margin-top: 1em;
}

.map img {
    height: 100% !important;
    width: 100% !important;
}


.team {
    height: 46%;
    max-height: 46%;
    margin-bottom: 1em;
    margin-top: .5em;
}
  