
#dashboard {
    background-color: #EBEDF5;
    height: 100%;
    padding: 15px;
}

.single-profile {
    min-height: 100vh;
}

.column {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.dashboard-content {
    padding: 6px;
}

.dashboard-header {
    margin-top: 10px;
    padding: 10px;
    clear: both;
    display: inline;
}

.dashboard-heading {
    float: left;
}

.dashboard-search {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.live-map {
    height: 40%;
    border-radius: 4px;
    margin-bottom: 2em;
}
  