<div id="dashboard">
  <div class="dashboard-content">

    <div class="dashboard-header clearfix">
      <div class='dashboard-heading'>
        <h3>Staff Details</h3>
      </div>
    </div>

    <div class="row">
        <div class="col-md-2 column">
            <app-profile-sidebar></app-profile-sidebar>
        </div>
        <div class="col-md-10 column single-profile">
            <app-profile-page></app-profile-page>
        </div>
    </div>

  </div>
</div>
