<ul class="uk-breadcrumb mt-3">
    <li><a routerLink = "/reports/teams">Teams</a></li>
    <li class="uk-disabled"><a>Team Dashboard</a></li>
</ul>
<div>
    <h3 class="branchName">{{teamName}}</h3>
</div>

<app-attendance-table></app-attendance-table>
