.team-card {
    margin: 15px auto;
    border-radius: 5px;
}
input#search.uk-input{
    outline: none !important;
    background: white;
    border-radius: 2px;
    border: 1px solid #ebf0f7;
}
#page-title {
    color: #394386;
    font-size: 1.7rem;
    margin-top: 50px;
}
#choose {
    margin-top: 30px;
    padding-left: 10px;
    color: #178FD4;
}
.uk-card {
    padding: 20px 30px !important;
}
#unit {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4958b7;
}
#sub-unit, #sub-unit2, #unit-code {
    color: rgba(68, 64, 83, 0.8);
    font-size: 0.9rem;
}
.arrow { 
    text-align: right;
    position: absolute;
    right: 20px;
    top: 20px;
}
.code {
    padding-right: 14px;
    margin: 0 !important;
}
.click {
    cursor: pointer;
    text-decoration: none;
}

/* Media Query */
@media screen and (max-width: 760px) {
    .container {
        padding-right: 0px !important;
    }
    #page-title {
        margin-top: 0px !important;
    }
    #page-title, #choose {
      text-align: center !important;
    }
    #choose {
        margin-top: 10px !important;
    }
    .uk-card {
        padding: 10px 10px !important;
    }
    .card-row {
        padding: 10px !important;
    }
    #sub-unit2 {
        text-align: left;
    }
    .arrow {
        top: 0px;
    }
  }