<div class="container-fluid">
  <div class="header">
    <h2 class="text-left" id="page-title">Attendance History</h2>
    <form>
      <div class="uk-margin" style="margin-right:20px;">
        <div class="uk-inline" style="width:100%;">
          <span class="uk-form-icon" uk-icon="icon: search"></span>
          <input class="uk-input" type="text" placeholder="Search team" id="search" #input (input)="search(input.value)">
        </div>
      </div>  
  </form>
    <p class="text-left" id="choose">Choose a team</p>
  </div>
  <div class="cards-container click">
      <div class="row card-row">
        <div class="col-lg-4 col-sm-6 team-card" *ngFor="let team of teams | filter: input.value" (click) = "navigate(team.branchName)">
          <div class="uk-card uk-card-default uk-card-body uk-card-hover">
            <div class="row">
              <div class="col-lg-12">
                <h5 id="unit">{{team.branchName}}</h5>
                <!-- <span id="sub-unit"
                  >{{team.directorateCategory}}</span
                > -->
                <p class="text-left" id="sub-unit2">
                  {{team.directorateName}}
                </p>
                <p class="code text-right" id="unit-code">{{team.directorateCode}}</p>
              </div>
              <div class="col-lg-6">
                
                
                <!-- <span class="arrow" uk-icon="chevron-right"></span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <app-loader [isLoading] = loading ></app-loader>
</div>
