@import url('https://fonts.googleapis.com/css?family=Montserrat');
#profile-page {
    height: 100%;
    font-family: 'Montserrat, sans-serif';
}

mat-tab-group {
    overflow: hidden;
}

mat-tab {}

.center {
    text-align: center;
}

.live-details {
    background-color: #5E83AC;
    color: #fff;
    padding: 1em;
}

.filters {
    margin-bottom: 2em !important;
}

/* .track-row {
    margin-bottom: 3em;
    padding: .1 em;
} */

.track img {
    pointer: cursor;
}

.uk-button-default {
    border: none;
}

.uk-modal-title {
    font-size: 1.5rem !important;
    line-height: 1.3;
}

.mat-tab-label {
    font-family: Montserrat, "Helvetica Neue", sans-serif !important;
    font-size: 14pt !important;
    font-weight: 500;
}

agm-map {
    height: 450px;
    width: 100%;
}

.track-history {
    height: 100%;
    width: 100%;
}

.live-details {
    margin-top: 1em;
    background-color: #5E83AC;
    color: #fff;
    padding: 1em;
}