<div id='profile-page'>

    <mat-tab-group>

        <mat-tab label="Profile">

            <ng-template matTabContent>
                <div id="profile">
                    <div class="uk-card uk-card-default uk-card-body">
                        <p class=""><span uk-icon="icon: location;"></span> Present location of {{
                            drilledDownUser?.StaffName }}</p>

                        <!-- Map starts here -->
                        <agm-map [latitude]="mapDetails?.coords.latitude" [longitude]="mapDetails?.coords.longitude"
                            [zoom]="zoom">

                            <!-- User Location here -->
                            <agm-marker [latitude]="mapDetails?.coords.latitude"
                                [longitude]="mapDetails?.coords.longitude" [iconUrl]="mainIconUrl"
                                (mouseOver)="onMouseOver(infoWindow, $event)"
                                (mouseOut)="onMouseOut(infoWindow, $event)">
                                <agm-info-window #infoWindow>
                                    <strong>{{ drilledDownUser?.StaffName }}</strong>
                                </agm-info-window>
                            </agm-marker>

                            <!-- Branch Locations start here -->
                            <agm-marker *ngFor="let m of branchMarkers; let i = index" [latitude]="m.lat"
                                [longitude]="m.long" [iconUrl]="branchIconUrl"
                                (mouseOver)="onMouseOver(infoWindow, $event)"
                                (mouseOut)="onMouseOut(infoWindow, $event)">
                                <agm-info-window #infoWindow>
                                    <h6>{{branchNames[i]}}</h6>
                                </agm-info-window>
                            </agm-marker>

                        </agm-map>

                    </div>
                </div>

                <!-- location details  -->

                <div class="live-details container-fluid">
                    <h4 class='center'>Most Recent Location</h4>

                    <div class="row text-center">
                        <div class="col">
                            <p>Date: {{mapDetails?.id}}</p>
                        </div>
                        <div class="col">
                            <p id="address">Location: {{ userAddress }}</p>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col">
                            <p>Spoofing: {{mapDetails?.mock}}</p>
                        </div>
                        <div class="col">
                            <p>GPS: {{mapDetails?.provider.gps}}</p>
                        </div>
                    </div>

                </div>
            </ng-template>

        </mat-tab>

        <mat-tab label="Track History">

            <ng-template matTabContent>

                <div id="track-history">
                    <div class="uk-card uk-card-default uk-card-body">
                        <p class=""><span uk-icon="icon: bookmark;"></span> Tracks for {{ drilledDownUser?.StaffName }}
                        </p>
                        <div class='tracks container-fluid'>

                            <!-- filters  -->
                            <div class="filters">
                                <form class="date-filters" [formGroup]="trackHistoryFilter"
                                    (ngSubmit)="onSearch(trackHistoryFilter.value)">

                                    <mat-form-field class="startDateField">
                                        <input matInput [matDatepicker]="picker" placeholder="Select date"
                                            formControlName="selectDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="startTime">
                                        <input matInput placeholder="From" atp-time-picker formControlName="startTime">
                                    </mat-form-field>

                                    <mat-form-field class="endTime">
                                        <!-- lol end time -->
                                        <input matInput placeholder="To" atp-time-picker formControlName="endTime">
                                    </mat-form-field>

                                    <button mat-flat-button color="primary" type="submit"
                                        [disabled]="!trackHistoryFilter.valid">Search</button>

                                </form>
                            </div>

                            <!-- No records found card -->

                            <div class="uk-card uk-card-default uk-card-body align-content-center" *ngIf="!record">

                                <h6>No records found!</h6>

                            </div>

                            <!-- Track history results begin here -->

                            <div class="uk-card uk-card-default uk-card-body" *ngIf="record">

                                <!-- Map starts here -->
                                <agm-map [latitude]="defaultlat" [longitude]="defaultlng" [zoom]="zoom">

                                    <!-- User Locations here -->
                                    <agm-marker *ngFor="let item of trackHistoryCoords; let i = index"
                                        [latitude]="item?.lat" [longitude]="item?.lng" [iconUrl]="iconUrl"
                                        (mouseOver)="onMouseOver(infoWindow, $event)"
                                        (mouseOut)="onMouseOut(infoWindow, $event)">
                                        <agm-info-window #infoWindow>
                                            <!-- <strong>Location: {{item.address}} <br> Date: {{item.timeStamp}}</strong> -->
                                            <strong>{{item.timeStamp}}</strong>
                                        </agm-info-window>
                                    </agm-marker>
                                    <agm-polyline>
                                        <agm-polyline-point *ngFor="let item of trackHistoryCoords"
                                            [latitude]="item?.lat" [longitude]="item?.lng">
                                        </agm-polyline-point>
                                    </agm-polyline>

                                    <!-- Branch Locations start here -->

                                    <agm-marker *ngFor="let m of branchMarkers; let i = index" [latitude]="m.lat"
                                        [longitude]="m.long" [iconUrl]="branchIconUrl"
                                        (mouseOver)="onMouseOver(infoWindow, $event)"
                                        (mouseOut)="onMouseOut(infoWindow, $event)">
                                        <agm-info-window #infoWindow>
                                            <h6>{{branchNames[i]}}</h6>
                                        </agm-info-window>
                                    </agm-marker>

                                </agm-map>
                            </div>

                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-tab>

    </mat-tab-group>

    <!-- dismissable modal showing single user on a map on click  -->

    <div id="modal-container" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>

            <div class="uk-modal-body">
                <app-live-map></app-live-map>
            </div>

            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-primary uk-modal-close" type="button">CLOSE</button>
            </div>

        </div>
    </div>

</div>