<app-main-header></app-main-header>
<app-sub-header></app-sub-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1" >
            <!-- <app-main-sidebar></app-main-sidebar> -->
        </div>
        <div class="col-md-10 pb-4">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>

<!-- <div class="container-fluid" *ngIf='!isAuthorized'>
    <div class="row">
        <div class="col-md-12 shift">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->
