.navbar {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(18, 106, 211, .07), 0 2px 9px 0 rgba(18, 106, 211, .06);
}

.center {
    text-align: center !important;
    float: none !important;
}

.nav-item {
    margin-right: 1em;
    margin-left: 1em;

}

.nav-item a:active {
    border: 0px !important;
    outline: none !important;
}

.router-link-active {
    color: cornflowerblue !important;
}

/* .router-link-active:before {
    content: "|";
    color: #190383;
    border: 1px solid #190383;
    background-color: #190383;
    float: left;
    left: 0px;
    position: absolute;
    clear: both;
} */


.router-link-active {
    border-bottom: 2px solid cornflowerblue;
    outline: none !important;
}