<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse center" id="navbarTogglerDemo01">
      <ul class="navbar-nav m-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLink="live-map" routerLinkActive="router-link-active">
          <a class="nav-link" routerLink="live-map" routerLinkActive="router-link-active">Live Map</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="reports" routerLinkActive="router-link-active">Reports</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="team-details" routerLinkActive="router-link-active">Team Details</a>
        </li>
      </ul>
      
    </div>
  </nav>