
table {
    width: 100%;
}

.mat-tab-body-wrapper {
    padding-top: 2em;
}

.blue {
    color: #178FD4;
}

.bold {
    font-weight: bold;
}

.currentDisplay {
    padding: 1em;
    margin-top: 1em;
}

.mat-tab-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-weight: bold !important;
    font-size: medium !important;
    color: black !important;
}

mat-radio-button {
    padding-left: .5em;
    padding-right: .5em;
}

.mat-radio-label-content {
    font-size: .5rem !important;
}

.mat-sort-header-button {
    font-size: medium !important;
    font-weight: bold !important;  
}

.tableFilters {
    padding: 1em;
}

.searchField {
    float: left;
}

.dateFilters {
    float: right;
}

.table-row {
    cursor: pointer;
}

.mat-elevation-z8 {
    box-shadow: none !important;
}

tr.mat-row:nth-child(even) {
    height: 48px;
    background-color: #f3f3f3
}

.uk-open>.uk-modal-dialog {
    opacity: 1;
    transform: translateY(0);
    width: 90%;
}

.startDateField {
    z-index: 40;
}