<!--  FOR SINGLE STAFF -->

<ul class="uk-breadcrumb mt-3">
  <li><a routerLink = "/reports/teams">Teams</a></li>
  <li><a (click)="goBack()">Team Dashboard</a></li>
  <li class="uk-disabled"><a>Staff Dashboard</a></li>
</ul>

<div id="" class="uk-flex-top">
    <div class="">

      <div class="">

        <h5 style="padding-top: 1em;" class="blue bold">{{staffName}}, {{staffId}}</h5>
        <div class="row">
          <div class="col">
            <div>
                <circle-progress
              percent={{latePercentage}}
              [maxPercent]="100"
              [unitsFontSize] = 16
              [radius]="50"
              [space] = "2"
              [showSubtitle] = false
              [outerStrokeWidth]="8"
              [innerStrokeWidth]="5"
              [outerStrokeColor]="'#CBB466'"
              [innerStrokeColor]="'#F5E9C2'"
              [animation]="true"
              [animationDuration]="300"
              ></circle-progress>
              <p class="blue bold" style="padding-left: 1em;">% lateness</p>
            </div>
          </div>
          <div class="col">
            <div>
                <circle-progress
              percent={{lateCount}}
              [maxPercent]="100"
              [unitsFontSize] = 16
              [radius]="50"
              [space] = "2"
              [showUnits]= false
              [showSubtitle] = false
              [outerStrokeWidth]="0"
              [innerStrokeWidth]="5"
              [outerStrokeColor]="'#b50b3e'"
              [innerStrokeColor]="'#d8a3b1'"
              [animation]="true"
              [animationDuration]="300"
              ></circle-progress>
              <p class="blue bold" style="padding-left: 1em;">times late</p>
            </div>
          </div>
          <div class="col">
            <div>
                <circle-progress
              percent={{clockInCount}}
              [maxPercent]="100"
              [unitsFontSize] = 16
              [radius]="50"
              [space] = "2"
              [showSubtitle] = false
              [outerStrokeWidth]="0"
              [showUnits]= false
              [innerStrokeWidth]="5"
              [outerStrokeColor]="'#b50b3e'"
              [innerStrokeColor]="'#0C9070'"
              [animation]="true"
              [animationDuration]="300"
              ></circle-progress>
              <p class="blue bold" style="padding-left: 1em;">clock-ins</p>
            </div>
          </div>
          <div class="col">
            <div>
                <circle-progress
              percent={{absentCount}}
              [maxPercent]="100"
              [unitsFontSize] = 16
              [radius]="50"
              [space] = "2"
              [showSubtitle] = false
              [outerStrokeWidth]="0"
              [showUnits]= false
              [innerStrokeWidth]="5"
              [outerStrokeColor]="'#b50b3e'"
              [innerStrokeColor]="'#C70039'"
              [animation]="true"
              [animationDuration]="300"
              ></circle-progress>
              <p class="blue bold" style="padding-left: 1em;">times absent</p>
            </div>
          </div>
        </div>

        <div class="currentDisplay">

          <div *ngIf="!search">
            <p class="blue small">Showing results for last 6 working days</p>
          </div>
        
          <div *ngIf="search">
            <p class="blue small">Showing results from <b>{{ singleStaffForm.value.startDate | date: 'fullDate' }}</b> to <b>{{ singleStaffForm.value.endDate | date: 'fullDate' }}</b> </p> 
          </div>

        </div>
                      

        <div class="tableFilters">

            <mat-form-field class="searchField">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search table">
            </mat-form-field>
        
            <form class="dateFilters" [formGroup]="singleStaffForm" (ngSubmit)="onSubmit()">
              <mat-form-field class="startDateField">
                <input matInput [matDatepicker]="start" placeholder="Start date" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                <mat-datepicker #start></mat-datepicker>
              </mat-form-field>
        
              <mat-form-field class="endDateField">
                <input matInput [matDatepicker]="end" placeholder="End date" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                <mat-datepicker #end></mat-datepicker>
              </mat-form-field>
        
              <!-- <mat-radio-group class="filterOptions" formControlName="filterOption">
                <mat-radio-button value="all">All</mat-radio-button>
                <mat-radio-button value="late">Late</mat-radio-button>
                <mat-radio-button value="Early">Early</mat-radio-button>
                <mat-radio-button value="Early Clock-Out">Early Clock-Out</mat-radio-button>
                <mat-radio-button value="Absent">Absent</mat-radio-button>
              </mat-radio-group> -->
          
              <button mat-flat-button color="primary" type="submit" [disabled]="!singleStaffForm.valid">Go</button>
        
            </form>
        
          </div>

        <div class="mat-elevation-z8">

          <table mat-table [dataSource]="dataSource" matSort> 
          
            <!-- Position Column
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> STAFF ID </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            Name Column
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th> 
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container> -->

            <!-- Name Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE </th> 
              <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="clockin">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CLOCK IN </th>
              <td mat-cell *matCellDef="let element"> {{element.timeIn}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="clockout">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CLOCK OUT </th>
              <td mat-cell *matCellDef="let element"> {{element.timeOut}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </div>
      
      </div>
    </div>
</div>