@import url('https://fonts.googleapis.com/css?family=Montserrat');

#main-sidebar {
    font-family: 'Montserrat', sans-serif;
    left: 0;
    top: 0;
    background-color: rgba(248, 245, 245, 0.938);
    position: sticky;
}

.sidebar-content {
    min-height: 100vh;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.52);
    padding: 30px;
    color: rgba(68, 64, 83, 0.8); 
    overflow: auto;
    width: 100%;
}

.sidebar-content p {
    font-size: 10pt;
}

.sidebar-content a:link {
    text-decoration: none;
    color: rgba(68, 64, 83, 0.6);
}

.sidebar-content a:visited {
    text-decoration: none;
    color: rgba(68, 64, 83, 0.6);
}

.sidebar-content a:hover {
    text-decoration: none;
    color: rgba(68, 64, 83, 0.6);
}

.profile {
    margin-bottom: 80px;
    margin-top: 80px;
    text-align: center;
}

.picture {
    /* padding: 6px; */
}

