<div id='main-sidebar'>
    <div class='sidebar-content'>
        <div class="profile">
            <div class='picture'>
                <img [src]='drilledDownUser?.Photo | safeHtml' />
                <!-- <span uk-icon="icon: user; ratio: 3.5"></span> -->
            </div>

            <div class='profile-details'>
                <h5>{{ drilledDownUser?.StaffId }}</h5>
                <h5>{{ drilledDownUser?.StaffName }}</h5>
                <p>{{ drilledDownUser?.JobDescription }}</p>
                <!-- <p>VI Region</p>
        <p>07055566699</p> -->
            </div>
            <hr>
        </div>


        <div class="device-details">
            <div class='device'>
                <p>Device Name: {{mapDetails?.user_info.device_name}} {{mapDetails?.user_info.device_model}}</p>
                <p>Battery Level: {{mapDetails?.battery.level}} %</p>
                <p>Speed: {{mapDetails?.coords.speed}} m/s</p>
                <p>Altitude: {{mapDetails?.coords.altitude}} m</p>
            </div>
        </div>

    </div>
</div>