#live-map {
    border-radius: 4px;
    margin-bottom: 18px;
    background-color: #EBEDF5;
    /* height: 100%; */
    /* padding: 1.5em; */
    border-radius: 4px;
    border: 4px solid #e9e8f1;
    margin: 3em;
}

agm-map {
    height: 100vh;
    width: 100%;
    min-height: 100%;
}

.map img {
    display:block;
    margin:0 auto; /* center */
    left:0;        /* center */
    right:0;       /* center */
    width: 100%;
    min-height: 100%;
}

