<div id="live-map">
    <div class="">

        <!-- Map starts here -->
        <agm-map [latitude]="defaultlat" [longitude]="defaultlng" [zoom]="zoom">

            <!-- User Locations here -->

            <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"
                [iconUrl]="mainIconUrl" (mouseOver)="onMouseOver(infoWindow, $event)" (mouseOut)="onMouseOut(infoWindow, $event)">
                <!-- <agm-marker [latitude]="" [longitude]=""> -->
                <agm-info-window #infoWindow>
                    <h6>{{staffNames[i]}}</h6>
                    <strong>{{timeStamp[i]}}</strong>                    
                    <!-- <strong>{{userAddress[i]}}, {{timeStamp[i]}}</strong> -->
                </agm-info-window>
            </agm-marker>

            <!-- Branch Locations start here -->

            <agm-marker *ngFor="let m of branchMarkers; let i = index" [latitude]="m.lat" [longitude]="m.long"
                [iconUrl]="branchIconUrl" (mouseOver)="onMouseOver(infoWindow, $event)" (mouseOut)="onMouseOut(infoWindow, $event)">
                <agm-info-window #infoWindow>
                    <h6>{{branchNames[i]}}</h6>
                </agm-info-window>
            </agm-marker>

        </agm-map>

    </div>
</div>