<div id="main-sidebar" class="column" *ngIf="isAuthorized">
  <div class="sidebar-content">
    <div class="profile">
      <div class="picture">
        <img [src]="user?.Photo | safeHtml" />
      </div>

      <div class="profile-details">
        <h5>{{ user?.LoginName }}</h5>
        <p>{{ user?.JobDescription }}</p>
      </div>
    </div>

    <div class="menu-items">
      <div class="menu">
        <a routerLink="live-map" routerLinkActive="router-link-active">
          <p><span uk-icon="icon: location;"></span>LIVE MAP</p>
        </a>
      </div>
      <div class="menu">
        <a routerLink="reports" routerLinkActive="router-link-active">
          <p><span uk-icon="icon: file-text;"></span>REPORTS</p>
        </a>
      </div>
      <div class="menu">
        <a routerLink="team-details" routerLinkActive="router-link-active">
          <p><span uk-icon="icon: users;"></span>TEAM DETAILS</p>
        </a>
      </div>
      <div class="menu">
        <a href="https://galaxy" routerLinkActive="router-link-active">
          <p><span uk-icon="icon: home;"></span>GO TO GALAXY</p>
        </a>
      </div>
    </div>

    <div class="media">
      <img src="./assets/Images/square group.png" alt="squares" />
    </div>
  </div>
</div>

<div id="main-sidebar" class="column" *ngIf="!isAuthorized">
  <div class="sidebar-content">

    <div class="menu-items" style="margin-top: 200px;">
      <img src="./assets/Images/lock.svg" alt="">
    </div>

    <div class="media">
      <img src="./assets/Images/square group.png" alt="squares" />
    </div>
  </div>
</div>

