@import url('https://fonts.googleapis.com/css?family=Montserrat');

reports{
    font-family: Montserrat, sans-serif;
}

.branchName {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: large;
    color: #394386;
    margin: 1em;
}