/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Montserrat, sans-serif;
    background-color: #fff;
}

table {
    font-family: Montserrat, sans-serif !important;
}

.mat-form-field-wrapper {
    font-size: 14px;
    margin-right: 1.5em !important;
    margin-left: 1.5em !important;
    /* width: 50%; */
}

.mat-tab-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-weight: bold !important;
    font-size: medium !important;
    color: black !important;
}

mat-radio-button {
    padding-left: .5em;
    padding-right: .5em;
}

.mat-radio-label-content {
    font-size: small !important;
}

.mat-sort-header-button {
    font-size: medium !important;
    font-weight: bold !important;  
    color: #178FD4 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #178FD4;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #178FD4 ;
}

.uk-card-default {
    height: 100% !important;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.shift {
    padding-left: 0 !important;
}