<div class="noAccess">
  <div class="main">
    <div class="center">
      <h1>401</h1>
      <h2>Ouch!</h2>
      <h5>You have hit a brick wall, you have limited view on this application.</h5>
      <br/>
      <button type="button" class="btn btn-info btn-lg">Return to Homepage</button>
    </div>

    <p>image from pixabay</p>
  </div>
</div>