.noAccess {
    background: url(../../assets/Images/lock-dark.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -15px;
    padding: 400px auto;
    text-align: center;
    color: #fff;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.center h1 {
    font-weight: 900;
    font-size: 90pt;
}

.center h2 {
    font-weight: 900;
    font-size: 20pt;
}

.main p {
    position: absolute;
    bottom: 0;
    right: 1.2em;
    color: #fff;
    font-size: small;
}