<div class="noAccess">
  <div class="main">
    <div class="center">
      <h1>403</h1>
      <h2>Oops</h2>
      <h5>Seems you are not authorized to view this application</h5>
      <br/>
      <a href="https://galaxy"  class="btn btn-info btn-lg">
       Return to Homepage
      </a>
    </div>

    <p>image from pixabay</p>
  </div>
</div>